.card{
  width: auto;
  height: 100%;
}

.cardimg{
  position: absolute;
  right: 20px;
  width: 300px;
  height: 300px;
 
}
.cardmeta{
  position: absolute;
  left: 50px;
  top: 50px;
  margin-bottom: 500px;
  text-align: center;
}
.content{
  position: absolute;
  top: 150px;
  margin: 50px;
}